:root{ /* Список переменных */
    --myriad-pro : 'Myriad Pro'; /* Шрифт Myriad Pro*/
    --lora: 'Lora', serif; /*Шрифт lora*/
    --roboto: 'Roboto', sans-serif; /*Шрифт roboto*/
    --roboto-c: 'Roboto Condensed', sans-serif; /*Шрифт roboto Condensed*/
    --brend-color: #000d2b;
    --color_logo: #fffed0;
    --max-widht-cont: 1480px;
}
.header_market{
    margin-top: 145px;
    font-family: var(--lora);
    text-align: center;
    font-size: calc(16px + 16 * (100vw / 1920));
    text-transform: uppercase;
    font-weight: 500;
}
.text_market{
    font-family: var(--roboto);
    font-size: calc(16px + 10 * (100vw / 1920));
    font-weight: 300;
    text-align: center;
    padding-top: 137px;
}
.market_fon{
    background-color: var(--brend-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: calc(16px + 10 * (100vw / 1920));
    margin-top: 265px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.market_fon div:nth-child(1){
    background: url(../img/grob.png) no-repeat;
    padding-top: 34px;
    padding-left: 80px;
}
.market_fon div:nth-child(2){
    background: url(../img/krest_market.png) no-repeat;
    padding-top: 34px;
    padding-left: 80px;
}
.market_fon div:nth-child(3){
    background: url(../img/venok.png) no-repeat;
    padding-top: 34px;
    padding-left: 95px;
}
.market_fon_bottom{
    background-color: var(--brend-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: calc(16px + 10 * (100vw / 1920));
    padding-top: 55px;
    padding-bottom: 50px;
}
.market_fon_bottom div:nth-child(1){
    background: url(../img/tomb.png) no-repeat;
    padding-top: 34px;
    padding-left: 80px;
}
.market_fon_bottom div:nth-child(2){
    background: url(../img/fence.png) no-repeat;
    padding-top: 34px;
    padding-left: 80px;
}
.market_fon_bottom div:nth-child(3){
    background: url(../img/portrait.png) no-repeat;
    padding-top: 34px;
    padding-left: 95px;
}
.market_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}
.market_content div p{
    font-size: calc(16px + 10 * (100vw / 1920));
    padding-top: 50px;
}



@media (max-width: 1280px){
    .market_fon div:nth-child(3){
        padding-top: 40px;
    }
}
@media (max-width: 860px){
    .market_fon {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .market_fon div:nth-child(1) {
        padding-top: 47px;
        margin-top: 50px;
    }
    .market_fon div:nth-child(2){
        padding-top: 50px;
        margin-top: 50px;
    }
    .market_fon div:nth-child(3){
        padding-top: 50px;
        margin-top: 50px;
    }
    .market_content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .market_content div {
        padding-top: 50px;
    }
}