* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --orange: #ff5a0a;
  --white: #ffffff;
  --black: #000000;
}
body{
  min-width: 360px;
  overflow-x: hidden;
  background-color: var(--orange);
}
header{
  margin-top: 20px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  flex-direction: column;
}
header img{
  max-width: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}
