* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: var(--roboto);
    min-width: 360px;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
}

main {
    background-image: url(../img/fon.png);
}
header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    padding-top: 25px;
    padding-left: 8%;
    border-bottom: solid 1px white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header_left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.logo{
    margin-right: 50px;
}
.logo img{
    width: 160px;
}
.title-header{
    text-transform: uppercase;
    padding-top: 25px;
    font-size: calc(6px + 27 * (100vw / 1920));
}
.title-header span{
    font-size: calc(6px + 21 * (100vw / 1920));
}
.header_right{
    padding-right: 8%;
}
.number-header{
    font-size: calc(8px + 32 * (100vw / 1920));
    padding-top:calc(21px + 8 * (100vw / 1920));
    line-height: 35px;
}
.number-header a{
    color: white;
}
.number-header span{
    font-size: calc(6px + 21 * (100vw / 1920));
    padding-left: 20%;
}
.main_tel{
    color: white;
    background-color: #103233;
    padding: 16px;
    border-radius: 15px;
    font-size: calc(10px + 21 * (100vw / 1920));
    margin-top: 20px;
}
.main_tel:hover{
    color: #103233;
    background-color: white;
}

/* ********header end******************* */
.main-content{
    color: white;
    padding-left: 8%;
    padding-top: calc(70px + 110 * (100vw / 1920));
    padding-bottom: 19.5%;
}
.main-content p {
    font-size: calc(16px + 36 * (100vw / 1920));
    padding-bottom: 30px;
}
.main-content p img {
    width: 30px;
}
/*First section end***************************/
h1{
    padding-left: calc(8% + 6 * (100vw / 1920));
    font-size: calc(16px + 36 * (100vw / 1920));
    color: white;
    background-color: #103233;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
}

.section-second-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 150px;
}
.ssc-left-up, .ssc-left-down{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.block-tool{
    background-color: white;
    text-align: center;
    /*border: solid 1px black;*/
}
.block-tool p{
    min-width: 14.5em;
    padding: 60px 60px 50px 60px ;
    font-size: calc(10px + 15 * (100vw / 1920));
}
.block-tool img{
    padding-bottom: 40px;
    max-width: 176px;
}
.brands{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}
.brands_left{
    margin: auto;
    text-align: center;
}
.brands div img{
    max-width: 180px;
    margin: 20px ;
}
.block-sale{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/snow-fon.jpg);
    font-size: calc(8px + 40 * (100vw / 1920));
    text-align: center;
    color: #002137;
}
/*second section end***************************/
h2, h3{
    padding-left: calc(8% + 6 * (100vw / 1920));
    font-size: calc(16px + 36 * (100vw / 1920));
    color: white;
    background-color: #103233;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700; 
}
h6{
    font-size: calc(16px + 36 * (100vw / 1920));
    color: white;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.section-second{
    background-image: url(../img/remont.png);
    background-repeat: no-repeat;
}
.section-second a{
    color: white;
    background-color: #103233;
    padding: 16px;
    border-radius: 15px;
    font-size: calc(10px + 21 * (100vw / 1920));
}
.section-second a:hover{
    color: #103233;
    background-color: white;
}
/*service section end***************************/
/*h3{
    text-align: center;
    font-size: calc(16px + 36 * (100vw / 1920));
    margin-bottom: 50px;
}*/
.our-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.our-content-left{
    margin-top: 150px;
    font-size: calc(10px + 21 * (100vw / 1920));
    padding-left: calc(8% + 6 * (100vw / 1920));
    max-width: 1245px;
}
.our-content-left span{
    text-transform: uppercase;
    color: #103233;
}
.our-conent-right{
    margin-top: 100px;  
}
/*our section end***************************/
.contact{
    margin-top: 100px;
}
.contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
h4{
    text-align: center;
    font-size: calc(16px + 36 * (100vw / 1920));
    margin-bottom: 50px;
    padding-top: 20px;
}
.contact-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 150px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.contact-content {
    font-size: calc(10px + 21 * (100vw / 1920));
}
.contact-content a{
    color: black;
}
/*contact section end***************************/
h5{
    text-align: center;
    font-size: calc(10px + 42 * (100vw / 1920));
    margin-bottom: 100px;
    margin-top: 150px;
}

/*******************************/
footer{
    background-color: #103233;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 8% 20px 8%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
}
.footer-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-logo img{
    width: 100px;
}
.title-footer{
    padding-top: 10px;
    padding-left: 10px;
    color: white;
    text-transform: uppercase;
    font-size: calc(6px + 20 * (100vw / 1920));
}
.number-footer{
    color: white;
    font-size: calc(8px + 24 * (100vw / 1920));
    line-height: 35px;
    padding-top: 7px;
}
.number-footer a{
    color: white;
}
.number-footer span{
    font-size: calc(6px + 17 * (100vw / 1920));
    padding-left: 11%;
}
.footer-right{
    padding-top: 17px;
}
.autor{
    text-align: center;
    color: white;
    background-color: #103233;
    padding-bottom: 15px;
}
.autor a{
    color: white;
    
}


/*MEDIA*/
@media(max-width: 1280px){
    .block-tool p{
        padding: 45px 45px 40px 45px ;
    }
    .block-tool img{
        padding-bottom: 30px;
        width: 140px;
    }
    .our-conent-right img{
        width: 400px;
    }
    .footer-logo img{
        width: 85px;
    }
}
    @media (max-width: 960px){
    .section-second-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
     .block-tool p{
        padding: 0 ;
        padding-bottom: 10px;
        font-size: calc(11px + 15 * (100vw / 1920));
        min-width: 12em;
    }
    .block-tool img{
        padding-bottom: 20px;
        width: 80px;
    }
    .our-conent-right img{
        width: 300px;
        margin-top: 80px;
    }
}
  @media (max-width: 860px){
    .logo img{
        width: 110px;
    }
    .footer-logo img{
        width: 60px;
    }
    .number-header {
        padding-top: 21px;
        line-height: 25px;
    }
    .block-tool p{
        padding: 25px 13px 25px 13px ;
    }
    .block-tool img{
        padding-bottom: 20px;
        width: 80px;
    }
    .our-conent-right img{
        width: 300px;
        margin-top: 80px;
    }
    .contact-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
        text-align: center;
    }
    .number-footer {
        line-height: 20px; 
    }
    .footer-right {
        padding-top: 8px;
    }
    .contact-content {
        margin-bottom: 45px;
    }
    .contact-header img{
        display: none;
    }
    .marquee-infinite {
        padding-bottom: 0px;
    }
    h6 {
        padding-top: 35%;
        padding-bottom: 35%;
    }
  }
  @media (max-width: 540px){
    header{
        padding-left: 2%;
    }
    .logo{
        margin-right: 15px;
    }
    .logo img{
        width: 75px;
    }
    .number-header {
        padding-top: 20px;
        line-height: 20px;
    }
    .header_right {
        padding-right: 2%;
    }
    .section-second-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .block-tool p{
        padding: 30px 30px 25px 30px ;
    }
    .block-tool img{
        padding-bottom: 20px;
        width: 100px;
    }
    .our-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .our-conent-right {
         margin-top: 0px; 
    }
    .our-content-left {
        margin-top: 50px;
    }
    h5{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .footer-right{
        display: none;
    }
    .contact-map iframe{
        width: 280px;
    }
    .block-sale{
        padding-top: 50px;
        padding-bottom: 50px;
    }

  }