:root{ /* Список переменных */
    --myriad-pro : 'Myriad Pro'; /* Шрифт Myriad Pro*/
    --lora: 'Lora', serif; /*Шрифт lora*/
    --roboto: 'Roboto', sans-serif; /*Шрифт roboto*/
    --roboto-c: 'Roboto Condensed', sans-serif; /*Шрифт roboto Condensed*/
    --brend-color: #000d2b;
    --color_logo: #fffed0;
    --max-widht-cont: 1480px;
}

.header_contract{
    margin-top: 145px;
    font-family: var(--lora);
    text-align: center;
    font-size: calc(16px + 16 * (100vw / 1920));
    text-transform: uppercase;
    font-weight: 500;
}
.contract_div{
    display: flex;
    justify-content: space-evenly;
    padding-top: 160px;
    font-size: calc(18px + 6 * (100vw / 1920));
    max-width: 1480px;
    margin-left: 13vw;
}
.contract_div p{
    padding: 55px 0 0 84px;
    background: url(../img/okey.png) no-repeat;
    line-height: 31px;
}
.contact_but{
    display: flex;
    justify-content: center;
    margin-top: 125px;
}
.contract_fon{
    max-width: 100%;
}

@media(max-width: 1280px){
    .contract_div{
    margin-left: 5vw;
    }
}

@media(max-width: 860px){
    .contract_div{
        flex-direction: column;    
    }
    .contract_div p{
        margin: 50px;
    }
    .contact_but {
        margin-top: 15px;
    }
}